<% provide(:title, "About") %>
<div class="jumbotron"><h2>Learn About Earlycard</h2></div>
<div class="container container-fluid">
  

  
  <div class="col-md-8 col-md-offset-2">
    <div class="headline-wrapper">
      <h1>About</h1>
    </div>
    <div class="row">
      <div class="">
        <p>Let's be honest for a minute.  The greeting card aisle the day before 
        a holiday is truly one of the worst places on earth.  It's easy to put off 
        the task of buying a card until the last...possible...minute, and it's never 
        ever fun.  I created earlycard.com because I wanted something to solve that 
        problem.  If I know when my important occasions are each year, and they 
        almost never change, why isn't there a service that remembers it for me?</p>
        
        <p>So I designed a bunch of cards and built this site.  Earlycard remembers 
        your important dates, and sends you a quality greeting card well in advance. 
        I can't guarantee your gifts will be a hit (you did remember a gift...didn't you?), 
        but I can guarantee you won't need to make that last minute trip to the 
        greeting card aisle. The holidays are hectic, let earlycard help.</p>
        
        <p>Thanks for checking out the site, I hope you enjoy it.</p>
        
        <div class="about-sig">
          <p>Colby Painter</p>
          <p>Creator, Earlycard</p>
          <p>colby@earlycard.com</p>
        </div>
      </div>
      
    </div>
  </div>
  
  <div class="col-md-8 col-md-offset-2">
    <hr class="divider-blue">
    <h1>FAQ</h1>
    <div class="row">
      <div class="center">
        <h3>Can you tell me more about the cards?</h3>
        <p>Sure, our simple and creative card collection consists of 5x7 inch vertically 
        folded cards, on a linen finish paper stock.  The outside of the card will 
        display our design and the greeting.  The inside is blank.  </p>
      </div>
      <hr class="divider-blue">
      
      <div class="center">
        <h3>When should I choose to receive the card?</h3>
        <p>Completely up to you.  We will always aim to get you the card well before the date you choose, 
        but we do not recommend making your request date the same day you are planning 
        to give the card away.  It's always a good idea to add some extra time in 
        there just to be safe.</p>
      </div>
      <hr class="divider-blue">
      
      <div class="center">
        <h3>Why do you send the cards to me?</h3>
        <p>We send the cards to you because we believe there is value in the 
        connection of giving a card to another person.  This is also 
        why we leave the inside of the cards blank, so that you can personalize 
        them.  We love making great cards and getting them to you, but we believe 
        only you know the right message to include.</p>
      </div>
      <hr class="divider-blue">
      
      <div class="center">
        <h3>Are there different cards for each holiday?</h3>
        <p>Currently we have one option for each holiday.  We would love to expand
        options in the future, but currently we provide a single yearly collection 
        to choose from.</p>
      </div>
      <hr class="divider-blue">
      
      <div class="center">
        <h3>Will the cards change each year?</h3>
        <p>Yes, the cards will change every year.  You won't be stuck giving 
        your spouse the same anniversary card every year, we promise.</p>
      </div>
      <hr class="divider-blue">
      
      <div class="center">
        <h3>How is my credit card data handled?</h3>
        <p>Earlycard uses <a href="http://www.stripe.com">Stripe</a> to handle all 
        payments.  This means that we use only their secure payment gateways, so we 
        never see your credit card information.</p>
      </div>
      <hr class="divider-blue">
      
      <div class="center">
        <h3>Can I cancel my card subscriptions any time?</h3>
        <p>Absolutely, simply go to your My Cards page and choose to delete the card. 
        You won't receive that card any more, and you won't face any further charges.</p>
      </div>
      <hr class="divider-blue">
      
      <div class="center">
        <h3>Are you going to spam me with emails?</h3>
        <p>No way. We'll email you if there are issues with your account, but we will 
        not bombard you with product offers or ads.  Your email will be shared with Stripe 
        only to coordinate payments.</p>
      </div>
      <hr class="divider-blue">
      
    </div>
  </div>
  
  
</div>