<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p class="center">
Check us out on twitter at @myearlycard or get in touch via colby@earlycard.com.
</p>
<br/><br/>
<p class="center">Earlycard, LLC</p>
<p class="center">PO Box 18385</p>
<p class="center">Richmond, VA 23226</p>