
<div class="container-fluid center jumbotron">
  
  <div class="row landing-section">
    <div class="col-md-8">
      
      <h2>An exclusive greeting card collection.</h2>
      <h2>Sent to you on the dates you choose.</h2>
      <h2>Every year. Automatically.</h2>
    </div>
    
    <div class="col-md-4">
      <%= image_tag("logo200.png", alt: "earlycard logo") %>
    </div>
    
  <br>

  </div>
</div>


<div class="container-fluid explainer">
  
  <div class="row">
    <div class="col-md-4">
      <h2>How does it work?</h2>
        <p>You pick as many of our holiday cards as you want, and tell us when you 
        need them.  Before that date, we'll mail you the card and the envelope.  
        All you need to do is write something nice in it and give it away.  Each 
        card is an annual subscription, so we'll remember your cards next year too!</p>
    </div>
    
    <div class="col-md-4">
      <h2>What does it cost?</h2>
        <p>Having an account is free, you only pay for the cards you get.  
        Each card costs $5 per year, and you will be charged on the date you requested 
        the card be delivered.  You can cancel any of your cards at any time and 
        won't face any further charges.</p>
    </div>
    
    <div class="col-md-4">
      <h2>Still have questions?</h2>
        <p>We'd love to hear your feedback, whether you sign up or not. Reach out to 
        <strong>colby@earlycard.com</strong> or on Twitter <strong>@myearlycard</strong> and let's chat! 
        We would love to know what you like or think we could do better.</p>
    </div>
    
</div>
   
<div id="sub_tag">
  <br/><%= link_to "Sign Up For Free", signup_path, class: "btn btn-lg btn-signup" %><br/><br/>
</div> 
  
<div class="container-fluid examples">
  

    <h1>The Cards</h1>
  
  <p class="center">Each design below prints on a 5x7 linen paper stock greeting card.</p>
  
  <div class="row">
      <div class="col-sm-6 col-md-4 thumbnail">

        <div class="caption card-caption">
          <h3>Holiday</h3>
        </div>
        
        <%= image_tag("holidays240x336.png", class: "card-thumb", alt: "Holiday Card") %>
        
      </div>
      
      <div class="col-sm-6 col-md-4 thumbnail">

        <div class="caption card-caption">
          <h3>Anniversary</h3>
        </div>
        <%= image_tag("anniversary240x336.png", class: "card-thumb", alt: "Anniversary Card") %>
      </div>
      
      
      <div class="col-sm-6 col-md-4 thumbnail">

        <div class="caption card-caption">
          <h3>Birthday</h3>
        </div>
        <%= image_tag("birthday240x336.png", class: "card-thumb", alt: "Birthday Card") %>
      </div>
      
      
      <div class="col-sm-6 col-md-4 thumbnail">
        <div class="caption card-caption">
          <h3>Father's Day</h3>
        </div>
        <%= image_tag("fathers240x336.png", class: "card-thumb", alt: "Father's Day Card") %>
      </div>
      
      
      <div class="col-sm-6 col-md-4 thumbnail">
        <div class="caption card-caption">
          <h3>Mother's Day</h3>
        </div>
        <%= image_tag("mothers240x336.png", class: "card-thumb", alt: "Mother's Day Card") %>
      </div>
      
      
      <div class="col-sm-6 col-md-4 thumbnail">
        <div class="caption card-caption">
          <h3>Valentine's Day</h3>
        </div>
        <%= image_tag("valentines240x336.png", class: "card-thumb", alt: "Valentine's Day Card") %>
      </div>
  </div>
</div>

<div id="sub_tag">
  <br/><%= link_to "Sign Up For Free", signup_path, class: "btn btn-lg btn-signup" %><br/><br/>
</div>