<% provide(:title, 'Privacy And Terms') %>
<div class="jumbotron"><h2>Privacy & Terms</h2></div>
<div class="container container-fluid">

  <div class="col-md-8 col-md-offset-2">

    <h1>Terms of Use</h1>
  
    <h3>Copyright</h3>
    <ul>
      <li>All content presented on earlycard.com, including all card designs, 
      is copywritten by Earlycard, LLC and may not be reproduced elsewhere or re-sold 
      without explicit permission from Earlycard, LLC.</li>
    </ul>
  
  
    <h3>Access</h3>
    <ul>
      <li>Earlycard reserves the right to terminate your account at any time if 
      deemed appropriate.  Upon termination, all card subscriptions will be canceled.</li>
      <li>Users may cancel their account at any time for any reason, and without charge.  
      All cards subscriptions will be canceled as a result.</li>
    </ul>
    
    <h3>Usage</h3>
    <ul>
      <li>Users are responsible for providing an accurate and valid mailing address.</li>
      <li>Users may cancel card subscriptions at any time.  Once cancelled, there 
      will be no further charge for that card subscription.</li>
      <li>There are no refunds if a card subscription is cancelled after the date 
      of the charge.  No charges will be incurred after the date of cancellation.</li>
      <li>User understands that each card added to an account is an annual 
      subscription, and authorizes Earlycard to charge the credit card provided 
      on the requested date each year.  </li>
    </ul>
    
  </div>
  
  <div class="col-md-8 col-md-offset-2">
    <h1>Privacy</h1>
    <ul>
      <li>Earlycard collects the following data from members directly: name, 
      email, mailing address, card choice preferences.</li>
      <li>Earlycard uses Google Analytics to collect usage and behavior data on 
      visitors to the site. </li>
      <li>Earlycard does not sell your data to any third party vendors.  
      Earlycard does provide limited user data to an external service (Stripe) 
      for processing of payments.</li>
      <li>Earlycard does not store your credit card information. Your credit 
      card data is handled entirely by Stripe.</li>
    </ul>
    
    <h1>Contact</h1>
    <p class="center">Earlycard, LLC</p>
    <p class="center">PO Box 18385</p>
    <p class="center">Richmond, VA 23226</p>
    
  </div>
</div>