<h1>Welcome to Earlycard</h1>

</div>

<p>Hi <%= @user.name %>,</p>

<p>
Thanks for signing up! You are five minutes from never shopping for greeting cards again.  
Use the link below to activate your account, and you are almost done!
</p>

<%= link_to "Activate", edit_account_activation_url(@user.activation_token,
                                                    email: @user.email) %>
                                                    
<p>Note: Do not reply to this email. To contact us, email colby@earlycard.com 
or let us know on Twitter @myearlycard.</p>
                                                    
                                                    