<% provide(:title, 'Sign up') %>
<h1>Sign Up</h1>

<div class="row" id="signup_form">
  <div class="col-xs-8 col-xs-offset-2 col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>
      
      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>
      
      <%= f.label :password, "Password: (Length: 8-40 characters. At least 1 letter and 1 number.)" %>
      <%= f.password_field :password, class: 'form-control' %>
      
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>
      
      <%= f.label :address_line1, "Address Line 1" %>
      <%= f.text_field :address_line1, class: 'form-control' %>
      
      <%= f.label :address_line2, "Address Line 2" %>
      <%= f.text_field :address_line2, class: 'form-control' %>
      
      <%= f.label :city %>
      <%= f.text_field :city, class: 'form-control' %>
      
      <%= f.label :state %>
      <%= f.text_field :state, class: 'form-control' %>
      
      <%= f.label :zip %>
      <%= f.text_field :zip, class: 'form-control' %>
      
      <%= f.submit "Create my account", class: "btn btn-primary" %>
      <small>Note: By creating your account you are acknowledging 
      that you have read and accept our <%= link_to "Terms of Use and Privacy Policy",   terms_path %>.</small>
    <% end %>
  </div>
</div>
