<% provide(:title, @user.name) %>
<div>
  
  <div class="container container-fluid">
    <div class="row my-card-container">
        <% if @user.stripe_customer_token.nil? %>
          <div class="col-sm-8 col-sm-offset-2 center">
            <h3>Hi <%= @user.name %>, </h3>
            <p>Thanks for signing up!  Take a look at our designs and when you are ready to pick your 
            cards, use the link below to enter your payment info.  We'll only ask 
            you to enter it this once, so managing your card preferences will be nice 
            and painless from here on out.  <strong>You will not be charged for anything 
            until we send you a card.</strong></p>
            <hr class="divider-blue">
            <h3>Enter your payment info to get started</h3>
            <%= link_to "Add Credit Card", new_subscription_path, class: "btn btn-primary btn-add-card" %>
          </div>
        <% else %>
          <div class="col-md-4">

            <div class="col-sm-8 col-sm-offset-2 center">
              <div class="row">
                <div class="col-sm-12">
                  <%= render 'shared/card_form' %>
                  Please allow 2-3 weeks for initial card delivery.
                </div>
                <div class="col-sm-12">
                  <hr class="divider-blue">
                  
                  <%= link_to "Update Credit Card", edit_subscription_path, class: "btn btn-primary btn-update-card" %>
                </div>
                
                <div class="col-sm-12">
                  <hr class="divider-blue">
                  <h4>Important Dates</h4>
                  <ul class="list-group">
                    <li class="list-group-item">Valentines: Feb 14</li>
                    <li class="list-group-item">Mothers(US) 2016: May 8</li>
                    <li class="list-group-item">Fathers(US) 2016: June 19</li>
                    <li class="list-group-item">Christmas: Dec 25</li>
                  </ul>
                </div>
                
              </div>
            </div>
            </div>
          <% end %>
      
        <div class="col-md-8"> 
          <div class="row">
            <% if @user.cards.any? %>
            <div class="col-sm-12">
              <h2>
                <%= @user.name %>'s Cards
              </h2>
              <h3 class="center">You are currently signed up to receive <%= @user.cards.count  %> cards annually.</h3>
            </div>
            <div class="col-sm-8 col-sm-offset-2">
              <div class="row">
                <%= render @cards %>
              </div>
              <div class="row card-note">
                Note: Each card will be delivered annually in advance of the date listed above.
              </div>
            </div>
            
            <% else %>
              <% if @user.stripe_customer_token %>
                <div class="col-sm-8 col-sm-offset-2">
                  <h2 class="center">Hi <%= @user.name %>, </h2>
                  <p>Your account is set up!</p> 
                  
                  <p>Check out 
                  the designs below and use the form on this page to add as many cards as you'd like.</p>
                  
                  <p>Each card costs 5 dollars per year.  Just enter your important date 
                  and we'll mail it out in advance.</p>
                  
                  <p>You can update your payment info any time  
                  by clicking the "Update Credit Card" button on this page.  If 
                  you need to update your address or password, 
                  choose "My Info" from the drop-down up in the navigation bar.</p>
                  
                  <p>Have questions or feedback? Don't hesitate to reach out to 
                  colby@earlycard.com or on Twitter @myearlycard.  Thanks for signing up, we're happy 
                  you're here.</p>
                
  
                </div>
              <% end %>
            
            <% end %>
          </div>
        </div>
    </div>

  
  <hr class="divider-blue">
  <div class="container container-fluid">
    <h2>Card Designs</h2>
    <p class="center">Each design below prints on a 5x7 linen paper stock greeting card.</p>
    <div class="row">
        <div class="col-sm-6 col-md-4 thumbnail">
  
          <div class="caption card-caption">
            <h3>Holiday</h3>
          </div>
          
          <%= image_tag("holidays240x336.png", class: "card-thumb", alt: "Holiday Card") %>
          
        </div>
        
        <div class="col-sm-6 col-md-4 thumbnail">
  
          <div class="caption card-caption">
            <h3>Anniversary</h3>
          </div>
          <%= image_tag("anniversary240x336.png", class: "card-thumb", alt: "Anniversary Card") %>
        </div>
        
        
        <div class="col-sm-6 col-md-4 thumbnail">
  
          <div class="caption card-caption">
            <h3>Birthday</h3>
          </div>
          <%= image_tag("birthday240x336.png", class: "card-thumb", alt: "Birthday Card") %>
        </div>
        
        
        <div class="col-sm-6 col-md-4 thumbnail">
          <div class="caption card-caption">
            <h3>Father's Day</h3>
          </div>
          <%= image_tag("fathers240x336.png", class: "card-thumb", alt: "Father's Day Card") %>
        </div>
        
        
        <div class="col-sm-6 col-md-4 thumbnail">
          <div class="caption card-caption">
            <h3>Mother's Day</h3>
          </div>
          <%= image_tag("mothers240x336.png", class: "card-thumb", alt: "Mother's Day Card") %>
        </div>
        
        
        <div class="col-sm-6 col-md-4 thumbnail">
          <div class="caption card-caption">
            <h3>Valentine's Day</h3>
          </div>
          <%= image_tag("valentines240x336.png", class: "card-thumb", alt: "Valentine's Day Card") %>
        </div>
    </div>
  
</div>