
<%= form_for(@card, :html => {:class => ''}) do |f| %>

  <%= render 'shared/error_messages', object: f.object %>

  <h2>Add A Card</h2>

  <div class="form-group ">
    <%= f.label :type_of, "Type of Card", class: "" %>
    
    <%= f.select(:type_of, [["Choose Card Type", ""], "Holiday Card",
    "Birthday", "Father's Day", "Mother's Day", "Valentine's Day", "Anniversary"], 
    {}, { :class => 'form-control' }) %>
    
  </div>
  <div class="form-group ">
    <%= f.label :receive_by_date, "Date you need the card", class: "" %>
    <%= f.text_field :receive_by_date, placeholder: "yyyy-mm-dd", class: 'form-control'%>
    
  </div>
  
  <div class="form-group ">
    <%= f.submit "Add Card", class: "btn btn-primary add-btn" %>
  </div>
  

<% end %>


