<div class="center">
  <div class="jumbotron">
  <%= image_tag("logo200.png", alt: "earlycard logo") %>
  </div>

  <%= form_tag({:action => 'update'}, :method => :put, :id =>"sub_form") do %>
    <script src="https://checkout.stripe.com/checkout.js"></script>
    <input type=hidden id="stripe_token" name=stripeToken />
    <input type=hidden id="stripe_email" name=stripeEmail />
    <button id="customButton" class="btn btn-primary action-btn">Update Card</button>
    
    <script>
    
    $( document ).ready(function() {
      
      var user_email = document.getElementById("user_email").textContent;
      
      
    
      $('#customButton').on('click', function(e) {
        
        var handler = StripeCheckout.configure({
          key: '<%= Rails.application.secrets.stripe_publishable_key %>',
          panelLabel: 'Save',
          color: 'black',
          locale: 'auto',
          token: function(token, args) {
                document.getElementById("stripe_token").value = token.id;                              
                document.getElementById("stripe_email").value = token.email;
                document.getElementById("sub_form").submit();
          }
        });
          
        // Open Checkout with further options
        handler.open({
          name: 'www.earlycard.com',
          description: 'Update Credit Card',

          email: user_email
        });
        e.preventDefault();
      });
    
      // Close Checkout on page navigation
      $(window).on('popstate', function() {
        handler.close();
      });
    
    });

    </script>
    
  <% end %>
  
  <br/>
  <p><%= @user.name %></p>
  <p id="user_email"><%= @user.email %></p>
  <p>Note: Your card will not be charged at this time.</p>
  
</div>