
<div id="card-<%= card.id %>">

  <div class="row my-cards">
    <div class="col-xs-4">
      <%= card.type_of %>
    </div>
    <div class="col-xs-4">
      <%= card.receive_by_date %>
    </div>
    <div class="col-xs-4">
      <%= link_to "delete", card, method: :delete, 
                        class: "btn btn-default btn-delete", 
                        data: {confirm: "Are you sure?"} %>
    </div>
  </div>
  <hr class="divider-blue">
  
</div>