@import "bootstrap-sprockets";
@import "bootstrap";

@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* universal */

body {
  font-family: 'Roboto', sans-serif;
}

.container-body {
  background-color: white;
}

.content-body {
  
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  font-family: "Raleway", Arial, sans-serif;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.3em;
  line-height: 1.7em;
}


/* header */

.navbar {
  color: black;
  font-weight: bold;
  background-color: white;
  border-bottom: 2px solid $gray-medium-light;
  margin: auto;
  margin-bottom: 2em;
  padding-left: 4em;
  padding-right: 4em;
}

.navbar a {
  color: #666666;
}

a.btn.btn-signup {
  color: white;
  &:hover {
    color: #666666;
  }
}

#logo {
  float: left;
  margin-right: 5px;
  font-size: 1.7em;
  color: black;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: black;
    text-decoration: none;
  }
}

.navbar-brand {
    font-family: 'Satisfy', cursive;
    font-size: 2em;
}


/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }

  text-align: center;
  padding-bottom: 5em;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* jumbotron */


.jumbotron {
  /** Offset the header bottom margin **/
  margin-top: -2em;
  background-color: #f5f5f5;
  h1, h2, h3 {
    color: 000000;
  }
}

.landing-section {
  max-width: 900px;
  margin: auto;
}

/**
.examples {

  background-color: #ecf0f1;
  color: white;
  div {
    background-color: #ecf0f1;
    h3 {
      color: white;
    }
  }
  .row {
    border: 1px solid #95a5a6;
  }
  border-top: 2px solid #0288D1;
}

**/

#sub_tag {
  text-align: center;
  margin: auto;
  .btn-primary {
  background-color: #9b59b6;
  border: none;
  font-family: "Raleway", Arial, sans-serif;
  }
}

.explainer {
  width: 80%;
  max-width: 1100px;
}

.thumbnail {
  border: none;
}

.card-thumb {
  border: 1px solid $gray-medium-light;
}

.divider-blue {
  color: #0288D1;
}

.divider-orange {
  color: #e74c3c;
}



/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.alert {
  width: 80%;
  margin: auto;
  text-align: center;
  margin-bottom: 2em;
}
.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/** Buttons **/

.btn {
  border-radius: 0px;
  background-color: #3498db;
}

.btn-signup {

  background-color: #e74c3c;
  color: white;
}

.action-btn {
  background-color: #e74c3c;
  border: none;
  color: white;
}

.add-btn {
  background-color: #e74c3c;
  border: none;
}

.btn-delete {

  border: none;
  font-family: "Raleway", Arial, sans-serif;
  color: white;
  &:hover {
    color: black;
    text-decoration: none;
  }
}

/** Forms **/
#signup_form {
  max-width: 1000px;
  margin: auto;
}

#user_edit_form {
  max-width: 1000px;
  margin: auto;
}

#login_form {
  max-width: 1000px;
  margin: auto;
}

.password-form {
  max-width: 1000px;
  margin: auto;
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

/*  Cards page */

.my-card-container {
  max-width: 1200px;
  margin: auto;
}

.my-cards {
  margin-top: 2em;
  text-align: center;
  max-width: 600px;
}

.card-note {
  text-align: center;
}

.card-caption {
  text-align: center;
}

/* About page */

.about-sig {
  font-style: italic;
  float: right;
  margin-right: 2em;
  p { 
    line-height: .75;
  }
}






