<footer class="footer">
  <p> &#169; 2015 - Earlycard, LLC</p>
   <p><%= link_to image_tag("twitter.png", alt: "twitter"), "https://twitter.com/myearlycard" %></p>
   <p><%= link_to "About | FAQ",   about_path %></p>
   <p><%= link_to "Terms of Use | Privacy Policy",   terms_path %></p>
</footer>