<nav class="navbar navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to "earlycard", root_path, id: "earlycard", class: "navbar-brand" %>
    </div>
    <div>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "About", about_path %></li>
        <% if logged_in? %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Account <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "My Cards", current_user %></li>
              <li><%= link_to "My Info", edit_user_path(current_user) %></li>
              <li class="divider"></li>
              <li>
                <%= link_to "Log out", logout_path, method: "delete" %>
              </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "Log in", login_path %></li>
          <li><%= link_to "Sign Up", signup_path, class: "btn btn-signup" %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>